body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

div h1{
    background-color: #66ff66;
}

.calcular {
    background-color: #003300;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.combobox {
    background-color: #003300;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.resultado {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}